html {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  background-color: #222;
}

a {
  color: #61dafb;
  padding: 2rem;
  transition: opacity 0.5s ease-in-out;
}

a:hover {
  opacity: 0.7;
}

.active a {
  color: white;
  font-size: 1.5rem;
}

/*  
Aqui termino esta consideracion {}.

  "background.enabled": true,
  "background.useDefault": false,
  "background.fullscreen": {
    "image": [
      "https://cabinothing.netlify.app/assets/web-init.jpg",
      "file:///C:/Users/carla/Pictures/honey/1672021061061.jpeg",
      "file:///C:/Users/carla/Pictures/honey/1672021060854.jpg",
      "file:///C:/Users/carla/Pictures/honey/yooo.png",
      "file:///C:/Users/carla/Pictures/random/WAOS.jpg"
    ],
    "opacity": 0.9,
    "size": "700px auto",
    "position": "center",
    "interval": 480
  },
*/
